<body>
    <!-- Background and Centered Content -->
    <div class="background-image">
      <div class="text-container text-center text-light">
        <h1 class="display-3 fw-bold animated-heading">SAMSTRACK</h1>
        <p class="lead animated-subtitle fw-bold">Track Your Attendance</p>
        <p class="lead animated-subtitle">Effortless Attendance Management for Educational Excellence.</p>

    </div>
      <div class="button-container text-center">
        <a [routerLink]="['/login']" class="btn custom-btn btn-lg mt-4">Login</a>
      </div>
    </div>
  </body>
  