/* General Styling */
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    margin-top: 40px;
}

/* Background Image Styling */
.background-image {
    background-image: url('/assets/images/welcome.jpg');
    background-size: cover;
    background-position: fixed;
    min-height: 89vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
   
}
.background-image::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(56, 50, 50, 0.5);
    z-index: 1;
}

/* Container Styling */
.container {
    width: 72%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(191, 210, 252, 0.39); /* Semi-transparent background */
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 2;
    height: 73%;
    overflow: hidden;
   
}

/* Select Row Styling */
.select-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}

.select-item {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 250px;
}

.select-icon {
    position: absolute;
    left: 10px;
    font-size: 1.2em;
    color: #0a0a0a;
}

.form-control {
    width: 100%;
    padding-left: 35px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1em;
}

/* Table Styling */
.table-responsive {
    margin-top: 20px;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 1em;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(240, 240, 240, 0.5);
}

.table th {
    background-color: rgba(0, 123, 255, 0.6);
    color: white;
    font-weight: bold;
}

/* No Students essage Styling */
.no-students {
    color: #888;
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}

/* Button Styling */
.btn-primary {
    background-color:#0056b3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #4294ec;
}

#table-form-box{
    overflow-y: scroll;
}
#table-container{
    height: 85%;
    overflow-x: hidden !important;
}

#table-container {
    background-color: #ccd4bf;
  }
  
  #table-container::-webkit-scrollbar-track {
    background-color: #ccd4bf;
  }
  
  #table-container::-webkit-scrollbar {
    width: 15px;
    background-color: #f5f5f5;
  }
  
  #table-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #218b82;
  }
