<app-user-menu></app-user-menu>

<body>

    <div class="background-image">
        <!-- First Row -->
        <div class="row" id="cards">
            <div *ngFor="let item of subjectDetails" class="card col-sm-4 mb-4 mt-4 mx-4" style="width: 15rem;">
                <img src={{item.imgUrl}} class="card-body" alt={{item.altAttr}}>
                <div class="card-body">
                    <a href={{item.externalurl}} target="_blank" class="btn btn-primary w-75">{{item.subName}}</a>
                </div>
            </div>
        </div>
    </div>
</body>