
<app-user-menu></app-user-menu>

<body>

    <div class="background-image">
    <!-- First Row -->
    <div class="row d-flex justify-content-center">
        <div class="card col-sm-4 mb-4 mt-4 mx-3" style="width: 15rem;">
            <img src="/assets/images/java.png" class="card-img-top" alt="...">
            <div class="card-body">
                <a href="#" class="btn btn-primary">Java Resource</a>
            </div>
        </div>

        <div class="card col-sm-4 mb-4 mt-4 mx-3" style="width: 15rem;">
            <img src="/assets/images/python.png" class="card-img-top" alt="...">
            <div class="card-body">
                <a href="#" class="btn btn-primary">Python Resource</a>
            </div>
        </div>

        <div class="card col-sm-4 mb-4 mt-4 mx-3" style="width: 15rem;">
            <img src="/assets/images/msnet.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <a href="#" class="btn btn-primary">.Net Resource</a>
            </div>
        </div>

        <div class="card col-sm-4 mb-4 mt-4 mx-3" style="width: 15rem;">
            <img src="/assets/images/php.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <a href="#" class="btn btn-primary">PHP Resource</a>
            </div>
        </div>
        
    </div>

    

    <!-- Second Row -->
    <div class="row d-flex justify-content-center">
        <div class="card col-sm-4 mb-4 mx-3" style="width: 15rem;">
            <img src="/assets/images/angular.png" class="card-img-top" alt="...">
            <div class="card-body">
                <a href="#" class="btn btn-primary">Angular Resource</a>
            </div>
        </div>

        <div class="card col-sm-4 mb-4 mx-3" style="width: 15rem;">
            <img src="/assets/images/react.png" class="card-img-top" alt="...">
            <div class="card-body">
                <a href="#" class="btn btn-primary">React Resource</a>
            </div>
        </div>

        <div class="card col-sm-4 mb-4 mx-3" style="width: 15rem;">
            <img src="/assets/images/javacsript.png" class="card-img-top" alt="...">
            <div class="card-body">               
                <a href="#" class="btn btn-primary">JavaScript Resource</a>
            </div>
        </div>
        <div class="card col-sm-4 mb-4 mx-3" style="width: 15rem;">
            <img src="/assets/images/mysql.jpg" class="card-img-top" alt="...">
            <div class="card-body">
               
                <a href="#" class="btn btn-primary">MySQL Resource</a>
            </div>
        </div>
    </div>
</div>
</body>